<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wom.dao.ProblemDOMapper" >
  <resultMap id="BaseResultMap" type="com.wom.service.model.ProblemModel" >

    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="feedBack" property="feedBack" jdbcType="VARCHAR" />
    <result column="disposeBy" property="disposeBy" jdbcType="VARCHAR" />
    <result column="departmentby" property="departmentby" jdbcType="VARCHAR" />
    <result column="studentName" property="studentName" jdbcType="VARCHAR" />
    <result column="studentPhone" property="studentPhone" jdbcType="VARCHAR" />
    <result column="teacherName" property="teacherName" jdbcType="VARCHAR" />
    <result column="workType" property="workType" jdbcType="VARCHAR" />
    <result column="problemType" property="problemType" jdbcType="INTEGER" />
    <result column="problem" property="problem" jdbcType="VARCHAR" />
    <result column="dispose" property="dispose" jdbcType="VARCHAR" />
    <result column="sourceType" property="sourceType" jdbcType="INTEGER" />
    <result column="createBy" property="createBy" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="VARCHAR" />
    <result column="update_by" property="update_by" jdbcType="VARCHAR" />
    <result column="update_at" property="update_at" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >

    id, feedBack, disposeBy, departmentby, studentName, studentPhone, teacherName, workType,
    problemType, problem, dispose, sourceType, createBy, createTime, update_by, update_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >

    select
    <include refid="Base_Column_List" />
    from wo_problem
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >

    delete from wo_problem
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wom.dataobject.ProblemDO" useGeneratedKeys="true" keyProperty="id">

    insert into wo_problem (id, feedBack, disposeBy,
      departmentby, studentName, studentPhone,
      teacherName, workType, problemType,
      problem, dispose, sourceType,
      createBy, createTime, update_by,
      update_at)
    values (#{id,jdbcType=INTEGER}, #{feedback,jdbcType=VARCHAR}, #{disposeby,jdbcType=VARCHAR},
      #{departmentby,jdbcType=VARCHAR}, #{studentname,jdbcType=VARCHAR}, #{studentphone,jdbcType=VARCHAR},
      #{teachername,jdbcType=VARCHAR}, #{worktype,jdbcType=VARCHAR}, #{problemtype,jdbcType=TINYINT},
      #{problem,jdbcType=VARCHAR}, #{dispose,jdbcType=VARCHAR}, #{sourcetype,jdbcType=TINYINT},
      #{createby,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
      #{updateAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wom.service.model.ProblemModel" useGeneratedKeys="true" keyProperty="id">

    insert into wo_problem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="feedBack != null" >
        feedBack,
      </if>
      <if test="disposeBy != null" >
        disposeBy,
      </if>
      <if test="departmentby != null" >
        departmentby,
      </if>
      <if test="studentName != null" >
        studentName,
      </if>
      <if test="studentPhone != null" >
        studentPhone,
      </if>
      <if test="teacherName != null" >
        teacherName,
      </if>
      <if test="workType != null" >
        workType,
      </if>
      <if test="problemType != null" >
        problemType,
      </if>
      <if test="problem != null" >
        problem,
      </if>
      <if test="dispose != null" >
        dispose,
      </if>
      <if test="sourceType != null" >
        sourceType,
      </if>
      <if test="createBy != null" >
        createBy,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="update_by != null" >
        update_by,
      </if>
      <if test="update_at != null" >
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="feedBack != null" >
        #{feedBack,jdbcType=VARCHAR},
      </if>
      <if test="disposeBy != null" >
        #{disposeBy,jdbcType=VARCHAR},
      </if>
      <if test="departmentby != null" >
        #{departmentby,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null" >
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="studentPhone != null" >
        #{studentPhone,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="workType != null" >
        #{workType,jdbcType=VARCHAR},
      </if>
      <if test="problemType != null" >
        #{problemType,jdbcType=TINYINT},
      </if>
      <if test="problem != null" >
        #{problem,jdbcType=VARCHAR},
      </if>
      <if test="dispose != null" >
        #{dispose,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null" >
        #{sourceType,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null" >
        #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="update_at != null" >
        #{update_at,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wom.service.model.ProblemModel" >

    update wo_problem
    <set >
      <if test="feedback != null" >
        feedBack = #{feedback,jdbcType=VARCHAR},
      </if>
      <if test="disposeby != null" >
        disposeBy = #{disposeby,jdbcType=VARCHAR},
      </if>
      <if test="departmentby != null" >
        departmentby = #{departmentby,jdbcType=VARCHAR},
      </if>
      <if test="studentname != null" >
        studentName = #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="studentphone != null" >
        studentPhone = #{studentphone,jdbcType=VARCHAR},
      </if>
      <if test="teachername != null" >
        teacherName = #{teachername,jdbcType=VARCHAR},
      </if>
      <if test="worktype != null" >
        workType = #{worktype,jdbcType=VARCHAR},
      </if>
      <if test="problemtype != null" >
        problemType = #{problemtype,jdbcType=TINYINT},
      </if>
      <if test="problem != null" >
        problem = #{problem,jdbcType=VARCHAR},
      </if>
      <if test="dispose != null" >
        dispose = #{dispose,jdbcType=VARCHAR},
      </if>
      <if test="sourcetype != null" >
        sourceType = #{sourcetype,jdbcType=TINYINT},
      </if>
      <if test="createby != null" >
        createBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wom.dataobject.ProblemDO" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Dec 13 13:40:55 GMT+08:00 2019.
    -->
    update wo_problem
    set feedBack = #{feedback,jdbcType=VARCHAR},
    disposeBy = #{disposeby,jdbcType=VARCHAR},
    departmentby = #{departmentby,jdbcType=VARCHAR},
    studentName = #{studentname,jdbcType=VARCHAR},
    studentPhone = #{studentphone,jdbcType=VARCHAR},
    teacherName = #{teachername,jdbcType=VARCHAR},
    workType = #{worktype,jdbcType=VARCHAR},
    problemType = #{problemtype,jdbcType=TINYINT},
    problem = #{problem,jdbcType=VARCHAR},
    dispose = #{dispose,jdbcType=VARCHAR},
    sourceType = #{sourcetype,jdbcType=TINYINT},
    createBy = #{createby,jdbcType=VARCHAR},
    createTime = #{createtime,jdbcType=TIMESTAMP},
    update_by = #{updateBy,jdbcType=VARCHAR},
    update_at = #{updateAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>