<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wom.dao.WoProblemDOMapper">

  <resultMap id="BaseResultMap" type="com.wom.model.dao.request.WoListRequestDto">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="workType" property="workType" jdbcType="INTEGER" />
    <result column="problem" property="problem" jdbcType="VARCHAR" />
    <result column="dispose" property="dispose" jdbcType="VARCHAR" />
    <result column="update_by" property="update_by" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    id, feedBack, disposeBy, departmentby, studentName, studentPhone, teacherName,workType,problemType,problem,dispose,sourceType,createBy,createTime,update_by,update_at
  </sql>
  <update id="upWoproblem" parameterType="com.wom.model.dao.request.WoListRequestDto">
    update wo_problem
    <set>
      <if test="workType != null">
        workType = #{workType,jdbcType=INTEGER},
      </if>
      <if test="problem != null">
        problem = #{problem,jdbcType=VARCHAR},
      </if>
      <if test="dispose != null">
        dispose = #{dispose,jdbcType=VARCHAR},
      </if>
      <if test="update_by != null">
        update_by = #{update_by,jdbcType=VARCHAR},
      </if>
      update_at=NOW()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

<select id="selbyid" parameterType="java.lang.Integer" resultType="com.wom.service.model.WoProblemModel">
  select
  <include refid="Base_Column_List" />
  from wo_problem
  where id = #{id,jdbcType=INTEGER}
</select>

<select id="selByPage" parameterType="com.wom.model.dao.response.WoListResponseDto" resultType="com.wom.service.model.WoProblemModel">
    select <include refid="Base_Column_List" />
     from wo_problem
    <where>
      <if test="woName!='' and woName!=null">
        and (studentName like "%"#{woName}"%"  or teacherName like "%"#{woName}"%")
      </if>
      <if test="feedBack!='' and feedBack!=null">
        and feedBack like "%"#{feedBack}"%"
      </if>
      <if test="workType!='' and workType!=null">
        and workType=#{workType}
      </if>
      <if test="problemType!='' and problemType!=null">
        and problemType=#{problemType}
      </if>
      <if test="courseType!='' and courseType!=null">
        and courseType=#{courseType}
      </if>
      <if test="disposeBy!='' and disposeBy!=null">
        and disposeBy=#{disposeBy}
      </if>
      <if test="beginCreateTime!='' and beginCreateTime!=null">
        and createTime &gt;=#{beginCreateTime}
      </if>
      <if test="endCreateTime!='' and endCreateTime!=null">
        and createTime &lt;=#{endCreateTime}
      </if>
    </where>
    limit #{pageVo.offSet},#{pageVo.pageSize}
</select>
<!--多条件分页查询总条数-->
  <select id="selAllNum" parameterType="com.wom.model.dao.response.WoListResponseDto" resultType="java.lang.Integer">
    select count(*)
    from wo_problem
    <where>
      <if test="woName!='' and woName!=null">
        and (studentName like "%"#{woName}"%"  or teacherName like "%"#{woName}"%")
      </if>
      <if test="feedBack!='' and feedBack!=null">
        and feedBack like "%"#{feedBack}"%"
      </if>
      <if test="workType!='' and workType!=null">
        and workType=#{workType}
      </if>
      <if test="problemType!='' and problemType!=null">
        and problemType=#{problemType}
      </if>
      <if test="courseType!='' and courseType!=null">
        and courseType=#{courseType}
      </if>
      <if test="disposeBy!='' and disposeBy!=null">
        and disposeBy=#{disposeBy}
      </if>
      <if test="beginCreateTime!='' and beginCreateTime!=null">
        and createTime &gt;=#{beginCreateTime}
      </if>
      <if test="endCreateTime!='' and endCreateTime!=null">
        and createTime &lt;=#{endCreateTime}
      </if>
    </where>
  </select>
  <!--<sql id="Base_Column_List">
    id, name, gender, age, telphone, register_mode, third_party_id
  </sql>
  <update id="updateByPrimaryKeySelective" parameterType="com.wom.dataobject.UserDO">
    update user_info
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="telphone != null">
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="registerMode != null">
        register_mode = #{registerMode,jdbcType=VARCHAR},
      </if>
      <if test="thirdPartyId != null">
        third_party_id = #{thirdPartyId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


<select id="selectByTelphone" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where telphone= #{telphone,jdbcType=VARCHAR}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.wom.dataobject.UserDO">
    insert into user_info (id, name, gender,
      age, telphone, register_mode,
      third_party_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT},
      #{age,jdbcType=INTEGER}, #{telphone,jdbcType=VARCHAR}, #{registerMode,jdbcType=VARCHAR},
      #{thirdPartyId,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.wom.dataobject.UserDO" keyProperty="id" useGeneratedKeys="true">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="telphone != null">
        telphone,
      </if>
      <if test="registerMode != null">
        register_mode,
      </if>
      <if test="thirdPartyId != null">
        third_party_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="telphone != null">
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="registerMode != null">
        #{registerMode,jdbcType=VARCHAR},
      </if>
      <if test="thirdPartyId != null">
        #{thirdPartyId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKey" parameterType="com.wom.dataobject.UserDO">
    update user_info
    set name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      age = #{age,jdbcType=INTEGER},
      telphone = #{telphone,jdbcType=VARCHAR},
      register_mode = #{registerMode,jdbcType=VARCHAR},
      third_party_id = #{thirdPartyId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>-->
</mapper>